@font-face {
  font-family: "Mondwest Bold";
  src: url("/fonts/PPMondwest-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Mondwest Regular";
  src: url("/fonts/PPMondwest-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NeueBit Bold";
  src: url("/fonts/PPNeueBit-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NeueBit Regular";
  src: url("/fonts/PPNeueBit-Regular.woff2") format("woff2");
}

body {
  /* for the marquee */
  overflow-x: hidden;
  /* --poof-x: 0;
  --poof-y: 0;
  --poof-calculated-radius: 100vw; */
}

:root {
  --poof-x: 50vw;
  --poof-y: 50vh;
  /* TODO: update when close button clicked */
  --poof-calculated-radius: 100vw;
}

@keyframes poof {
  from {
    clip-path: circle(0 at var(--poof-x) var(--poof-y))
  }
  to {
    clip-path: circle(var(--poof-calculated-radius) at var(--poof-x) var(--poof-y))
  }
}

@keyframes unpoof {
  from {
    clip-path: circle(var(--poof-calculated-radius) at var(--poof-x) var(--poof-y))
  }
  to {
    clip-path: circle(0 at var(--poof-x) var(--poof-y))
  }
}